* {
  margin: 0;
  padding: 0;
}

main {
  padding: 50px 0;
}

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 20px;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#userSurnameInput,
#userSurnamePush,
#listSurnamePull {
  padding: 10px;
  border: 1px solid #b42b30;
  background-color: #fff;
  outline: none;
}

#userSurnameInput {
  width: 50%;
}
